@import url("styles/header.css");
@import url("styles/banner.css");


:root{
    --cor-de-funfo: rgb(167, 115, 162);
    --cor-do-cabecalho: rgb(117, 67, 112);
    --cor-do-menu:rgb(238, 32, 180);
    --branco:white;
    
}
body{background-color: var(--cor-de-funfo);}

