@import url("styles/header.css");
@import url("styles/banner.css");


:root{
    --cor-de-fundo: rgb(138, 33, 6);
    --cor-do-cabecalho: rgb(222, 83, 59);
    --cor-do-menu:rgb(233, 193, 19);
    --branco:white;
    
}
body{background-color: var(--cor-de-funfo);}

