@import url("styles/header.css");
@import url("styles/banner.css");


:root{
    --cor-de-fundo: rgb(138, 33, 6);
    --cor-do-cabecalho: rgb(222, 83, 59);
    --cor-do-menu:rgba(224, 97, 34, 0.872);
    --branco:white;
    
}
body{background-color: var(--cor-de-funfo);}

