.carrossel-titulo {
    color: rgb(164, 13, 13);
    background-color: rgba(242, 172, 172, 0.952);
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
    padding: 1em;
  }